<html>

	<head>
		<title>  Priya's Grade Calculator
		</title>
	</head>

	<body>
		<form>
		      <h1> <center> Priya's Grade Calculator </center> </h1>
		       <center>Hey, welcome to my website! In this page you will compute the future grade required from your final exam.</center>
			   <table>
				<tr>
				<td> <label for="curr_grade"> What is your current grade in %?</label></td>
				<td><input type ="text" id="Curr_grade" name ="curr_grade"></td>
				</tr>
				
				<tr>
				<td> <label for="expect_grade"> What is the percentage you want in the class?</label></td>
				<td><input type ="text" id="expect_grade" name ="expect_grade"></td>
				</tr>
				
				<tr>
				<td> <label for="worth_grade"> How much percentage is your final worth?</label></td>
				<td><input type ="text" id="worth_grade" name ="worth_grade"></td>
				</tr>
				
				<tr>
				<td>
				<button type ="reset" value="Reset">Reset</button>
				</td>
				<td>
				<input type ="submit" value ="Compute Score">
				</td>
				
				</tr>
				
				
			   </table>
		</form>
	</body>

</html>